* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
#main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(images/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bio {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 200px;
  padding-left: 20px;
}
.bios {
  flex: 50%;
}
.bios h1 {
  color: white;
  padding-left: 80px;
  /* padding-bottom: 100px; */
  text-align: left;
  font-size: 60px;
  font-style: italic;
}
.bios p {
  color: white;
  padding-left: 80px;
  text-align: left;
  font-size: 20px;
}

.banner-btn {
  margin: 70px auto 0;
  padding-left: 70px;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  text-align: center;
}
.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: black;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.rounded {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#work {
  background-color: #34283d;
  background-size: cover;
  background-position: center;
  height: 140vh;
}
.content h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 3vw;
  font-family: "Open Sans", sans-serif;
}
.content h1 span {
  color: #f280b4;
}
.cbox {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
.vd {
  flex-basis: 50%;
}
.abouts {
  flex-basis: 50%;
  margin: auto;
}
.ipimg {
  margin: auto;
  align-items: center;
  text-align: center;
}
.ipimg img {
  width: 20%;
}
.abouts p {
  font-size: 30px;
  color: #f280b4;
  font-style: italic;
}
.abouts p span {
  font-size: 30px;
  color: #f9b243;
  font-style: italic;
}
.ipdesc {
  width: 40%;
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-left: 30vw;
  font-family: "Open Sans", sans-serif;
}

.color1 {
  color: #f6ddd7;
  flex-basis: 50%;
}
.color2 {
  color: #9a0009;
  flex-basis: 50%;
  margin: auto;
}
#biodata {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(images/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.biodata {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
  font-style: italic;
}
.biodata img {
  padding-top: 20px;
  width: 160px;
}
table {
  padding-top: 30px;
  margin: auto;
  color: white;
  font-size: 20px;
}
